body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  font-size: 21px;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: 0;
  border-radius: 0;
}

.button:hover {
  background-color: #669ec0;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.button-brown {
  background-color: #766357;
}

.button-brown:hover {
  background-color: #604e43;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.button-small {
  font: inherit;
  font-weight: 700;
}

.section-subtitle {
  font-size: 21px;
  font-weight: 700;
  line-height: 1.2;

  text-align:center;
}

.section-desc {
  color: #333333;

  text-align: center;
}

.site-navigation {
  list-style: none;
}

.site-navigation-link {
  font-weight: 700;
  color: #000000;
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  color: #81b3d2;
}

.site-navigation-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.slogan {
  text-align: center;
}

.section-subtitle-big {
  font-size: 30px;
}

.search-item {
  font-weight: 700;
}

.search-item-field {
  font: inherit;
  font-weight: 700;

  background-color: #f2f2f2;
  border: 0;
}

.search-item-field:hover {
  background-color: #ebebeb;
}

.search-item-field:focus {
  background-color: transparent;
  border: 2px solid #e5e5e5;
}

.hotels-list {
  list-style:none;
}

.hotels-item-name {
  text-align: left;
}

.hotels-item-name:hover {
  color: #81b3d2;
}

.hotels-item-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotels-item-category,
.hotels-item-price {
  color: #333333;
}

.hotels-item-rating {
  color: #666666;

  background-color: #f2f2f2;
}

.main-footer {
  background-color: rgba(249, 251, 246, 0.9);
}

.footer-contact-list {
  list-style: none;
}

.footer-contact-item {
  text-align: left;
}

.footer-social ul {
  text-align: center;

  list-style:none;
}

.footer-developer {
  text-align: right;
}
